<p> <%= @login_message  %> </p>

<form method="POST" action="/login">
  <p> username: <input type="text" name="name"></p>
  <p> password: <input type="password" name="password"></p>
  <input type="submit">
</form>